BraveSoftware
Code - OSS
balena-etcher
cef_user_data
configstore
dconf_backup
Electron
Google
hypr_backup*
nextjs-nodejs
Unknown Organization
vidcutter
zoom*
VirtualBox
simple-update-notifier
polybar*
mimeapps.list
Postman
obs-studio