[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Activate
Comment=
Exec=activate-linux -t "Activate Arch Linux" -m "Go to Settings to activate Linux."
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

