[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/awala/Desktop/lightdm-webkit2-theme-glorious]
row=4
col=0

[e965868c-51ea-4f0f-9c19-9a069fbad131]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/awala]
row=3
col=0

